.main-btn,
.danger-btn {
	color: white !important;
	font-size: 14px !important;
}

.main-btn {
	background-color: $purble-color !important;
}

.danger-btn {
	background-color: $danger-color !important;
}